body {
  margin: 0;
  font-family: 'Spectral', serif;
  font-size: 16px;
  color: #111;
}

.app {
  display: flex;
  height: 100vh;
}

.nav {
  width: 280px;
  background: #f1f1f1;
  padding: 24px;
}

.nav h1 {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.nav button {
  display: block;
  background: none;
  border: none;
  margin: 12px 0;
  font-family: inherit;
  cursor: pointer;
}

main {
  flex: 1;
  padding: 48px;
  overflow-y: auto;
  max-width: 720px;
}

h2 {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 36px;
}

#title {
  min-width: 200px;
  
}
#narrative {
  min-width: 600px;
  min-height: 100px;
}

#keyMoments {
  min-height: 50px;
}

#reflection {
  min-width: 250px;
  min-height: 80px;
}