:root {
  --bg-main: #fafafa;
  --bg-input: rgba(255, 255, 255, 0.8);
  --text-main: #111111;
  --text-muted: #666666;
  --accent: #111111;
  --border-subtle: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: 'Spectral', serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main);
  background: var(--bg-main);
}

h1, h2, h3 {
  font-family: 'Rethink Sans', sans-serif;
  font-weight: 500;
  margin: 0 0 16px 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

input, textarea {
  /* width: 100%; */
  font-family: 'Spectral', serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 14px;
  margin-top: 6px;

  border-radius: 6px;
  border: 1px solid var(--border-subtle);
  
  background: var(--bg-input);
  color: var(--text-main);
  outline: none;
  box-sizing: border-box;
  /* transition: border-color 0.2s ease; */

  backdrop-filter: blur(20px);
}

input:focus, textarea:focus {
  border-color: rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 1);
}

/* textarea {
  resize: vertical;
  min-height: 120px;
} */

#save, button {
  background: transparent;
  /* font-size: 16px;  */
  /* font-weight: 500; */

  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px 16px;

  border-radius: 10px;
  border: 1px, solid var(--border-subtle);

  background: transparent;
  color: var(--text-main);

  cursor: pointer;
  /* transition: background-color 0.2s ease; */
}

button:hover {
  background: white;
  color: #006D2C;
}

#save:hover {
  background: white;
  color: #006D2C;
}

.app {
  display: flex;
  height: 100vh;
}

.nav {
  width: 280px;
  background: #f1f1f1;
  padding: 24px;
}

.nav h1 {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.nav button {
  display: block;
  background: none;
  border: none;
  margin: 12px 0;
  font-family: inherit;
  cursor: pointer;
}

main {
  flex: 1;
  padding: 48px;
  overflow-y: auto;
  max-width: 720px;
}

#title {
  min-width: 300px;

}

#narrative {
  width: 100%;
  min-height: 100px;
}

#keyMoments {
  width: 50%;
  min-height: 50px;
}

#reflection {
  width: 80%;
  min-height: 80px;
}

textarea {
  overflow: hidden;
  resize: none;
}